In [19]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd, numpy as np

In [20]:
# load the trained model and all pickle files

model = load_model('model.h5')

with open('label_encoder_gender.pkl', 'rb') as file:
    le_gender = pickle.load(file)

with open('ohe_geo.pkl', 'rb') as file:
    ohe_geo = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [21]:
# cat_features = ['Geography','Gender']

# num_features = [
#     'CreditScore',
#     'Age',
#     'Tenure',
#     'Balance',
#     'NumOfProducts',
#     'HasCrCard',
#     'IsActiveMember',
#     'EstimatedSalary'
#     ]

In [22]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

need to --

- gender and geography to be encoded
- scale the input down
- apply y_pred based on model.h5

In [23]:
geo_encoded = ohe_geo.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\shree\anaconda3\envs\e2e-dl-ann\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [24]:
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [25]:
input_df = input_df.drop(columns="Geography").join(geo_encoded_df)

In [26]:
input_df['Gender'] = le_gender.transform(input_df['Gender'])

In [27]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [29]:
input_df_scaled = scaler.transform(input_df)

In [30]:
prediction = model.predict(input_df_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step

In [31]:
prediction

array([[0.05350664]], dtype=float32)

In [33]:
#assuming threshold to churn as 0.5

if prediction[0][0] > 0.5:
    print("Customer will churn")
else:
    print("Customer will not churn")

Customer will not churn